/* About section responsive*/
@media only screen and (max-width: 1080px) {

    .about-section {
        flex-direction: column; 
        padding: 20px;
    }

    .about-content {
        padding-right: 0; 
        margin-bottom: 30px; 
        max-width: 500px;
    }


    .about-content h1 {
        font-size: 2em;
        text-align: center;
    }

    .about-content p {
        text-align: start;
    }

    .about-image {
        margin-top: 20px;
    }

    .about-image img{
        width: 100%;
    }
}

/* Services  section responsive */
@media only screen and (max-width: 1000px) {
    .service-content{
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-top: 20px;
       gap: 20px;
   }

   .services img{
    width: 100%;
    height: auto;
    }
}

/* From  section responsive */
@media only screen and (max-width:768px){

    .fgroup input[type="text"],
    .fgroup input[type="email"],
    .fgroup input[type="tel"],
    .fgroup textarea {
        width: 80%;
        padding: 10px;
        border: 2px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 16px;
        }
}

/* Hamberger responsive  */
@media only screen and (min-width: 769px){
    .hamberger-menu{
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .menu{
        display: none;

    }

    .menu-active{
        display: block;
    }

    .nav-container{
        padding: 1rem;
        height: auto;
        flex-direction: column;
        align-items: flex-start;
    }

    .menu{
        width: 100%;
    }
    
    .menu li{
        margin: 1rem 0;
        padding: 1rem 0.5rem;
    }

    .menu li:hover{
        background-color: green;
    }
}